body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    display: flex;
    flex-direction: column;
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

p {
    color: #666;
    font-size: 16px;
}

.select-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

select {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background: #fff;
    margin-right: 10px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:nth-of-type(1) {
    background: #007bff;
    color: #fff;
}

button:nth-of-type(1):hover {
    background: #0056b3;
}

.logout-button {
    background: #dc3545;
    color: #fff;
    margin-top: auto;
    width: 100%;
}

.logout-button:hover {
    background: #a71d2a;
}
