<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>롯데 자이언츠</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>롯데 자이언츠 페이지</h1>
<a href="/home">홈으로 돌아가기</a>
<div id="clubInfo">
    <h3 id="clubName"></h3>
    <img id="clubImage" src="" alt="구단 이미지" width="150">
    <p id="clubRank"></p>
    <p id="clubPlayer"></p>
    <button id="clubLink" style="display:none;" onclick="goToClubPage()">공식 페이지 이동</button>
</div>
</body>
</html>
