<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원가입</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <script defer src="/js/scripts.js"></script>
</head>
<body>
<div class="container">
    <h2>회원가입</h2>
    <input type="text" id="signup-username" placeholder="아이디" required>
    <input type="password" id="signup-password" placeholder="비밀번호" required>
    <input type="password" id="signup-password-confirm" placeholder="비밀번호 확인" required>
    <button onclick="signup()">응원하러 가기</button>
    <button onclick="navigateToLogin()">뒤로 가기</button>
</div>
</body>
</html>